@{
    ViewData["Title"] = "Features";
}
<h1>@ViewData["Title"]</h1>

<div class="features-container">
    <p>
        <span>Here's a list of all the exciting things you can do in this application!</span>
        <ul>
            <li>View all the zipcodes for a state</li>
            <li>View the sales tax for a zipcode</li>
            <li>Display the geo map location of a zipcode in google maps</li>
            <li>View the total taxes for an order you create!</li>
        </ul>
    </p>
</div>