@{
    ViewData["Title"] = "Help";
}
<h1>@ViewData["Title"]</h1>

<p>
    This application allows the user to:
    <ul>
        <li>View all the zipcodes for a state</li>
        <li>View the sales tax for a zipcode</li>
        <li>View the geo map location of a zipcode (in google maps)</li>
        <li>Create an order of item(s) and view the total taxes for that order.</li>
    </ul>
</p>

