
.tax-service-title {
    border-left: 5px solid green;
    border-bottom: 5px solid green;
    border-radius: 5px 0 5px 5px;
    padding-left: 0;
    padding-right: 0;
}

    .tax-service-title h1 {
        text-align: left;
        font-weight: bold;
        padding-left: 5px;
        margin-bottom: 0;
    }

    .tax-service-title .second-level {
        border-left: 5px solid orange;
        border-bottom: 5px solid orange;
    }

    .tax-service-title .third-level {
        border-left: 5px solid deepskyblue;
        border-bottom: 5px solid deepskyblue;
        border-radius: 0 0 0 5px;
    }

.tax-service-welcome {
    display: flex;
    justify-content: center;
    margin: 15px 0 15px -300px;
}

    .tax-service-welcome .second-level {
        border: 2px solid green;
        display: flex;
        justify-content: center;
    }

    .tax-service-welcome .third-level {
        border: 2px solid orange;
        display: flex;
        justify-content: center;
    }

    .tax-service-welcome span {
        font-style: italic;
        text-align: center;
        width: 300px;
        padding: 10px;
        font-weight: bold;
        border: 2px solid deepskyblue;
    }

.tax-service-instructions-section {
    margin: 10px 0;
}

    .tax-service-instructions-section .freeze-instructions-height {
        height: 100px;
    }

.state-select-container {
    display: inline-block;
    margin: 20px 0;
}

.zip-code-container {
    max-height: 400px;
    overflow-y: scroll;
    background: beige;
}

    .zip-code-container .section {
        padding: 10px;
        border: 1px solid white;
    }

.zip-code-selected-container {
}

.order-container {
}

    .order-container label {
        display: inline-block;
        width: 90px;
        text-align: right;
    }

    .order-container .title {
        font-style: italic;
    }

    .order-container .order-items-container {
        border: 1px dashed gray;
        margin: 0 15px;
    }

        .order-container .order-items-container input[type=text] {
            width: 50px;
            margin: 5px 0;
        }

        .order-container .order-items-container select {
            width: 180px;
        }

        .order-container .order-items-container .order-form {
            padding: 20px 0;
            background: #f4f4c1;
        }

            .order-container .order-items-container .order-form .title {
                font-weight: bold;
                margin-bottom: 5px;
            }

    .order-container .order-items-container-row {
        background: beige;
        border: 1px solid white;
    }

        .order-container .order-items-container-row div {
            text-align: left;
        }

        .order-container .order-items-container-row button {
            color: white;
            background-color: red;
            border-radius: 5px;
        }

            .order-container .order-items-container-row button svg:hover {
                margin: 0 2px 0 2px;
            }

    .order-container .submit-section {
        display: inline-block;
        margin: 20px 0;
    }

        .order-container .submit-section label {
            width: auto;
        }

    .order-container .order-form {
        border: 1px solid white;
    }
    .order-container .order-form span {
        text-align: center;
    }
